<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <!-- The following is used by PWS-VDP -->
    <add key="VDP_EndpointAddress" value="http://apis.cert.vantiv.com"/>
    <add key="VDP_LicenseId" value=""/><!-- Obtained from https://apideveloper.vantiv.com/ -->
    <add key="PWS_EndpointAddress" value="https://ws-cert.vantiv.com/merchant/payments-cert/v6"/>
    <!--https://ws-stage.infoftps.com:4443/merchant/payments-stage/v6 -->
    <add key="PWS_VDP_UserName" value="s.MID5.PAY.WS.NP"/>
    <add key="PWS_VDP_Password" value="Tu2u2AHU"/>
  </appSettings>
  <!-- THE FOLLOWING system.net default proxy can be used if necessary when processing-->
  <!--system.net>
    <defaultProxy useDefaultCredentials="true">
      <proxy usesystemdefault="True" proxyaddress="NEED VALUE"  bypassonlocal="True"/>
    </defaultProxy>
  </system.net-->
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="PaymentPortTypeSoap11">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false">
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!--PaymentWebServices-->
      <!-- endpoint address="https://ws-cert.vantiv.com:443/merchant/payments-cert/v6" binding="basicHttpBinding" bindingConfiguration="PaymentPortTypeSoap11" contract="PaymentPortType" name="PaymentPortTypeSoap11_PaymentPortType" /-->
      <endpoint address="https://ws-cert.vantiv.com/merchant/payments-cert/v6" binding="customBinding" bindingConfiguration="PaymentPortTypeSoap11" contract="PaymentPortType" name="PaymentPortTypeSoap11_PaymentPortType" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>