<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="PaymentPortTypeSoap11">
          <security authenticationMode="UserNameOverTransport" includeTimestamp="false">
            <secureConversationBootstrap />
          </security>
          <textMessageEncoding messageVersion="Soap11" />
          <httpsTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <!--PaymentWebServices-->
      <!-- endpoint address="https://ws-cert.vantiv.com:443/merchant/payments-cert/v6" binding="basicHttpBinding" bindingConfiguration="PaymentPortTypeSoap11" contract="PaymentPortType" name="PaymentPortTypeSoap11_PaymentPortType" /-->
      <endpoint address="https://ws-cert.vantiv.com/merchant/payments-cert/v6" binding="customBinding" bindingConfiguration="PaymentPortTypeSoap11" contract="PaymentPortType" name="PaymentPortTypeSoap11_PaymentPortType" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>